<h1>Iniciar sesión</h1>

<% if (typeof error !== 'undefined') { %>
  <p style="color: red;"><%= error %></p>
<% } %>

<form action="/login" method="POST">
  <input type="email" name="email" placeholder="Correo electrónico" required value="<%= old?.email || '' %>" /><br/>
  <input type="password" name="password" placeholder="Contraseña" required /><br/>
  <label><input type="checkbox" name="remember" /> Recordarme</label><br/><br/>
  <button type="submit">Ingresar</button>
</form>
